#maindiv {
    display: inline-flex;
    flex-wrap: wrap;
    width: 800px;
    background-color: whitesmoke;
}
#mainDiv div {
    background-color: gainsboro;
    transition: 2s ease-in;
}
#mainDiv div:hover {
    background-color: blue;
    transition: initial;
}
#resetButton {
    width: 350px;
    height: 50px;
    margin: 10px;
}
#submitSpan {
    display: inline-flex;
    justify-content: center;
    background-color: gainsboro;
}
#centerDiv {
    display: inline-flex;
    flex-direction: column;
    padding: 10px;
    align-self: center;
    background-color: gainsboro;
}
#squareSpan {
    display: inline-flex;
}
#mainCenter {
    display: flex;
    justify-content: center;
}